<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Emprego Form</title>
</head>
<body>
<h1>Formulario de Emprego</h1>
<form action="#" th:action="@{/process}" th:object="${emprego}" method="post"> <!-- th:funcao="" -> interacao com o Model -->
    <input type="text" placeholder="Titulo" th:field="*{titulo}" required><br>
    <input type="text" placeholder="Empresa" th:field="*{empresa}" required><br>
    <textarea rows="3" placeholder="Descricao" th:field="*{descricao}"></textarea><br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>